.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python cache directories
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
env/
ENV/
.venv/

# Testing/coverage files
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packaging/distribution files
*.egg-info/
dist/
build/
